/* navbar */
.navbar .navbar-nav a {
  color: #fff;
  margin: 0.1rem;
  text-decoration: none;
}

.navbar {
  z-index: 3;
}

*,
.hero-img {
  z-index: 2;
}

.aksen-img {
  z-index: 1;
}

.navbar .navbar-nav a:hover {
  color: #ffcc00;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ffcc00;
  transform: scaleX(0);
  transition: 0.2s linier;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/*navbar color*/
.nav-color {
  background: linear-gradient(160deg, #048853, #005643);
  transition: all ease-in-out 0.3s;
}

.bg-transparent {
  transition: all ease-in-out 0.3s;
}

/* Hero Section */
.hero {
  background: linear-gradient(160deg, #048853, #005643);
  height: 100%;
  width: 100%;
}

.paraf,
h1 {
  color: #fff;
}

#myBtn,
#Btnmore {
  color: #048853;
}

.masthead svg.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
}

/*about Section*/
.about {
  padding-top: 3rem;
  background-color: #f3fff4;
}

.content p {
  padding: 2rem 1rem;
}

.content h3 {
  padding: 2rem;
}

section {
  padding-top: 6rem;
}

h2 {
  color: #005643;
}

/*Layanan*/
.layanan {
  padding: 100px 0;
}

.card-layanan {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 7px 3px;
}

.card-layanan {
  padding: 30px;
}

.card-layanan:hover H3 {
  color: #005643;
}

.card-layanan p {
  color: #000;
}

.circle-icon {
  width: 70px;
  height: 70px;
  background-color: #005643;
  border-radius: 50px;
}

/*Produk*/
.product-grid .product-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
/*.product-grid .product-image .img-1{ transition: all 0.3s ease 0s; }*/
/*.product-grid:hover .product-image .img-1{ opacity: 0; }*/
/*.product-grid .product-image .img-2{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    backface-visibility: hidden;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    transition: all 0.3s ease 0s;*/
/*}*/

/*Produck*/
.product-grid:hover .product-image .img-2 {
  opacity: 1;
}
.product-grid .product-hot-label,
.product-grid .product-discount-label {
  color: #fff;
  background: #ff6f00;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .product-discount-label {
  background: #ff3939;
  left: auto;
  right: 10px;
}
.product-grid .product-view {
  color: #fff;
  background: #000;
  font-size: 16px;
  text-align: right;
  line-height: 50px;
  width: 60px;
  height: 60px;
  padding: 0 16px 0 0;
  border-radius: 50px;
  opacity: 0;
  transform: scale(0);
  position: absolute;
  bottom: -40px;
  left: -40px;
  transition: all 0.3s ease;
}
.product-grid:hover .product-view {
  opacity: 1;
  transform: scale(1);
  bottom: -20px;
  left: -20px;
}
.product-grid .product-view:hover {
  background: #ff6f00;
}
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 10px;
  z-index: 1;
}
.product-grid .product-links li {
  margin: 5px 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}
.product-grid .product-links li:nth-child(2) {
  transition-delay: 0.1s;
}
.product-grid .product-links li:nth-child(3) {
  transition-delay: 0.2s;
}
.product-grid:hover .product-links li {
  opacity: 1;
  transform: translateX(0);
}
.product-grid .product-links li a {
  color: #000;
  background: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 33px;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  display: block;
  transition: all 0.3s ease;
}
.product-grid .product-links li a:hover {
  color: #fff;
  background: #ff6f00;
  border-color: #ff6f00;
}
.product-grid .product-content {
  background: #fff;
  padding: 15px 0 0;
}
.product-grid .rating {
  color: #f7bc3d;
  font-size: 11px;
  padding: 0;
  margin: 0 0 8px;
  list-style: none;
}
.product-grid .rating li {
  display: inline-block;
}
.product-grid .rating .disable {
  color: #a3a3a3;
}
.product-grid .title {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.product-grid .title a {
  color: #333;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover {
  color: #ff6f00;
}
.product-grid .price {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 500;
}
.product-grid .price span {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}
@media screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}

/*Hover Layanan*/
.card-layanan:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(160deg, #048853, #005643);
  box-shadow: 0 0 7px 3px;
  transition: all 0.2s ease-in;
}

.card-layanan:hover .circle-icon {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.card-layanan:hover {
  padding: 30px;
}

.card-layanan:hover H3 {
  color: #fccd01;
  transition: all 0.2s ease-in;
}

.card-layanan:hover p {
  color: #fff;
  transition: all 0.2s ease-in;
}

/*Testimoni*/
/*h2 {*/
/*	text-align: center;*/
/*	text-transform: uppercase;*/
/*	position: relative;*/
/*	margin: 30px 0 60px;*/
/*}*/
/*h2::after {*/
/*	content: "";*/
/*	width: 100px;*/
/*	position: absolute;*/
/*	margin: 0 auto;*/
/*	height: 3px;*/
/*	background: #8fbc54;*/
/*	left: 0;*/
/*	right: 0;*/
/*	bottom: -10px;*/
/*}*/

#testi {
  background-color: #f3fff4;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  padding: 0 70px;
}
.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 350px;
}
.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #048853;
}
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 90px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 68px;
  line-height: 60px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #048853, 0 0 0 #000;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
/*Testimoni end*/

/*FAQ*/
#accordion-style-1 H1,
#accordion-style-1 a {
  color: #005643;
}
#accordion-style-1 .btn-link {
  font-weight: 400;
  color: #005643;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}

#accordion-style-1 .card-body {
  border-top: 2px solid #005643;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main {
  display: none;
}

#accordion-style-1 .card-header .btn .fa.main {
  background: #007b5e;
  padding: 13px 11px;
  color: #ffffff;
  width: 35px;
  height: 41px;
  position: absolute;
  left: -1px;
  top: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
}

/*Footer*/
footer {
  background: linear-gradient(160deg, #048853, #005643);
  color: #fff;
  border-radius: 20px 20px 0px 0px;
}

.footer .footer-brand {
  color: #fff;
  font-weight: 900;
}
.footer-brand a {
  text-decoration: none;
}

.col1 a:hover {
  text-decoration: none;
  color: #fccd01;
}

.text-end {
  padding-bottom: 5rem;
  padding-right: 2rem;
}

.text-start {
  padding-top: 2rem;
  padding-left: 2rem;
}
.col1 a {
  color: #fff;
}

.list a {
  color: #fff;
  text-decoration: none;
}

.list a:hover {
  color: #fccd01;
  text-decoration: none;
}

.footer .sosial i:hover {
  color: #fccd01;
}

/*Media Query*/
@media screen and (max-width: 922px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 375px) {
}
